<section id="download" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Snap Stunning Pictures!</h2>
                <p>This app works on iPhone 6, iPhone 6 Plus and above as well as iPad Air 2 or iPad Mini 4 and above. Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="https://itunes.apple.com/us/app/portrait-by-img-ly/id1207277088?ls=1&mt=8"><img src="{{ site.baseurl }}/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
