<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="/img/portrait_logo.png" class="header-content-image img-responsive"/>
                        <h1>With Portrait, you can create amazing, stylized selfies and portraits instantly.
                            </h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Get It</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device device-iphone-x">
                        <div class="device-frame">
                            <img src="/img/portrait.jpeg" class="device-content" alt="" />
                        </div>
                        <div class="device-stripe"></div>
                        <div class="device-header"></div>
                        <div class="device-sensors"></div>
                        <div class="device-btns"></div>
                        <div class="device-power"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
