<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portrait by img.ly - Snap stunning pictures</title>

    <meta name="description" content="With Portrait, you can create amazing, stylized selfies and portraits instantly." />
    <meta name="keywords" content="portrait,photo,selfie,imgly,img.ly,app,apple,ai,deep learning,creatives,filters" />
    <meta property="og:url" content="http://getportraitapp.com/" />
    <meta property="og:site_name" content="Portrait by img.ly" />
    <meta property="og:title" content="Create amazing, stylized selfies and portraits instantly." />
    <meta property="og:description" content="With Portrait, you can create amazing, stylized selfies and portraits instantly." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.baseurl }}/img/meta_image.jpg" />
    <meta name="twitter:site_name" content="Portrait by img.ly" />
    <meta name="twitter:site" content="@imgly" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="image" content="{{ site.baseurl }}/img/meta_image.jpg" />
    <link href='/favicon.ico' rel='shortcut icon'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/vendor/simple-line-icons/css/simple-line-icons.css">

    <!-- Custom CSS
    <link rel="stylesheet" href="css/main.css" type="text/css"> -->
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/devices.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Google ADS mobile block -->
    {% if site.google_ad_client %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ site.google_ad_client }}",
        enable_page_level_ads: true
        });
    </script>
    {% endif %}

    <!-- {% if site.addthis_id %}
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_id }}"></script>
      {% endif %} -->
</head>
