<section id="newsletter" class="newsletter text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
				<div id="mc_embed_signup">
					<form action="https://photoeditorsdk.us13.list-manage.com/subscribe/post?u=dc9f652839dbb620d14d6d28d&id=e16b17bfb1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<h3>Subscribe to Updates</h3>
							<div class='newsletter_content'>
								<input type="email" value="" name="EMAIL" class="required email newsletter_content_field" placeholder="Your Email Address" id="mce-EMAIL">
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc9f652839dbb620d14d6d28d_e16b17bfb1" tabindex="-1" value=""></div>
								<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button newsletter_content_button btn-outline--black">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
